{%- assign page_paths = site.header_pages | default: default_paths -%}
<header>
    <a href="{{ '/' | relative_url }}" style="text-decoration:none">
    <pre style="line-height:1.1 !important; text-align:left !important">
      _   _
  ___| |_| |__   ___ _ __ ___ _   _ _ __ ___
 / _ \ __| '_ \ / _ \ '__/ _ \ | | | '_ ` _ \
|  __/ |_| | | |  __/ | |  __/ |_| | | | | | |
 \___|\__|_| |_|\___|_|  \___|\__,_|_| |_| |_|
                 _        _ _           _   _
  ___ ___  _ __ | |_ _ __(_) |__  _   _| |_| |__   ___  _ __
 / __/ _ \| '_ \| __| '__| | '_ \| | | | __| '_ \ / _ \| '_ \
| (_| (_) | | | | |_| |  | | |_) | |_| | |_| | | | (_) | | | |
 \___\___/|_| |_|\__|_|  |_|_.__/ \__,_|\__|_| |_|\___/|_| |_|
    </pre>
    </a>
    <div class="menu">
        <ul>
            {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
            <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
            {%- endif -%}
            {%- endfor -%}
        </ul>
    </div>
</header>
